<div class="text-centred">
  <h1> Nuevo artículo </h1>
</div>

  <%= form_for :article do |f| %>

    <p>
      <%= f.label :title, "Título" %> <br />
      <%= f.text_field :title, class: "form-control" %>
    </p>

    <p>
      <%= f.label :text, "Texto" %> <br />
      <%= f.text_field :text, class: "form-control" %>
    </p>

    <p>
      <%= f.submit "Guardar el artículo" %>
    </p>
  <% end %>
