<div class="text-centred">
  <h1> Nuevo artículo </h1>
</div>

<div class="box-centred">
  <%= form_for :article , url: articles_path do |f| %>

    <p>
      <%= f.label :title, "Título" %> <br />
      <%= f.text_field :title, class: "form-control" %>
    </p>

    <p>
      <%= f.label :text, "Texto" %> <br />
      <%= f.text_field :text, class: "form-control" %>
    </p>

    <p>
      <%= f.submit "Guardar el artículo" %>
    </p>
  <% end %>
  
  <br />
  <%= link_to 'Atrás', root_path %>
</div>
